<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add A New Product</title>
  <link href="../../node_modules/bootswatch/dist/sketchy/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  <form class="container p-4">
    <div class="mb-3">
      <input type="text" id="name" class="form-control" placeholder="Product´s name" autofocus>
    </div>
    <div class="mb-3">
      <input type="text" id="price" class="form-control" placeholder="Price">
    </div>
    <div class="mb-3">
      <input type="text" id="description" class="form-control" placeholder="Description">
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary" type="button">Save Product</button>
    </div>
  </form>
  
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', event => {
      const nameProduct = document.querySelector('#name').value;
      const priceProduct = document.querySelector('#price').value;
      const descriptionProduct = document.querySelector('#description').value;
      console.log({nameProduct, priceProduct, descriptionProduct});
      event.preventDefault();
    });
  </script>

</body>

</html>
